<main class="form-signin text-center">
  <form>
    <img class="mb-4 login-page_logo" src="../../../assets/logo.jpeg" alt="logo">
    <h1 class="h3 mb-3 fw-normal text-white text-center">Please sign in</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
             #userEmail required>
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control mt-2" id="floatingPassword" placeholder="Password"
             #userPassword required>
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="button"
            (click)="login(userEmail.value, userPassword.value)">Sign in</button>

    <button class="w-100 btn btn-lg btn-danger mt-3 googleBtn" type="button"
            (click)="loginWithGoogle()"><i class="fab fa-google-plus-g"></i>Sign in with Google</button>

    <p class="mt-3 text-muted">© 2021</p>
  </form>
</main>
