<app-header></app-header>

<div class="profile-info">
  <h2 class="text-white text-center">Profile info</h2>
  <div class="d-grid gap-2 col-6 mx-auto" *ngFor="let person of user">
    <button class="btn btn-warning" type="button"><span class="text-decoration-underline">Username:</span> {{person.username}}</button>
    <button class="btn btn-warning" type="button"><span class="text-decoration-underline">Email address:</span> {{person.email}}</button>
    <button class="btn btn-warning" type="button"><span class="text-decoration-underline">Age:</span> {{person.age}}</button>
    <br>
    <a href="profile/change-profile-info" class="btn btn-primary btn-outline-success text-white">Change profile info</a>
  </div>
</div>


<app-footer></app-footer>
